.header-modal {
  height: 17%;
  background-color: #4b00cb;
  color: white;
  font-size: 1.5rem;
}

.header-modal h1 {
  margin-left: 1rem;
}

.header-modal p {
  margin-right: 1rem;
}

.modal-dispositivo {
  position: relative;
  height: 250px;
  width: 720px;
  background-color: white;
  left: -9999px;
}

.exibir-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 0px 99999px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 0px 99999px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 0px 0px 99999px rgba(0, 0, 0, 0.53);
  z-index: 99;
}

.modal-dispositivo div p {
  font-size: 1.4rem;
}

.body-modal {
  height: 80%;
}

.button-model {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Georgia;
  color: #4a00cb;
  font-size: 24px;
  background: #f0f0f0;
  padding: 10px 30px;
  border: solid #4a00cb 2px;
  text-decoration: none;
  width: 100%;
}

.button-model:hover {
  background: #4a00cb;
  text-decoration: none;
  color: #fff;
}

.buttons-model {
  width: 80%;
}

.button-wrapper{
  width: 40%;
}