.pagination li {
  display: inline-block;
  border: 1px solid #4b00cb;
  cursor: pointer;
  background-color: #eaeaea;
  border-radius: 2px;
  font-weight: bold;
}

.pagination .disabled {
  cursor: default;
  opacity: 0.4;
}

.pagination{
  margin-top: .9%;
}

.pagination .active:hover,
.pagination .active {
  background-color: #8246e8;
  cursor: default;
}

.pagination .active span{
  color: #000;
}

.container{
  width: 94%;
  margin: 0 auto;
}

.pagination li span {
  color: #4b00cb;
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 10px;
}

.pagination li:not(.disabled .active):hover {
  cursor: pointer;
  background-color: #4b00cb;
}

.pagination li:not(.disabled .active) span:hover {
  color: #fff;
}

.pagination .quadrada {
  color: #000;
  text-align: center;
  width: 34px;
  height: 34px;
}


.pagination .retangular {
  color: #000;
  text-align: center;
  width: 80px;
  height: 34px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
